@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.container {
    max-width: 1296px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

/* HEADER */

header {
    height: 100vh;
    background-image: url("./img/bgc.png");
    background-size: cover;
    background-position: center;
}

.header--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    gap: 40px;
}

.header--container ul {
    list-style: none;
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.header--container .left--header {
    max-width: 358px;
}

.header--container .right--header {
    max-width: 344px;
}

.header--container ul li a {
    font-family: "Cormorant Garamond";
    text-decoration: none;
    color: #fff;
}

.header--container ul li a.active {
    color: #CDAA7D;
    border-bottom: 1px solid #CDAA7D;
}

.header--container .menu--icon {
    cursor: pointer;
}

.intro {
    height: calc(100% - 104px);
    max-width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.intro h1 {
    font-size: 72px;
    margin-bottom: 20px;
    color: #fff;
}

.scrool-container {
    display:  flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.info {
    max-width: 475px;
    height: 100vh;
    padding-inline: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    position: fixed;
    left: 100%;
    top: 0;
    transition: left 0.5s cubic-bezier(0, 0, 0.2, 1);
}

.info .close--icon {
    position: absolute;
    top: 40px;
    left: 80px;
    cursor: pointer;
}

.info--text {
    width: 315px;
    height: 138px;
}

.info--text h4 {
    font-family: "Cormorant Garamond";
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    font-weight: 400;
}

.info--contact {
    margin-top: 80px;
}

.info--contact h2 {
    font-family: "EB Garamond";
    font-weight: 700;
    line-height: 120%;  
}

.info--contact h4 {
    font-family: "Cormorant Garamond";
    font-weight: 400;
    line-height: 130%;
    margin-top: 15px;
}

.info--regulations {
    margin-top: 60px;
    gap: 25px;
}

.info--regulations h4 {
    font-family: "Cormorant Garamond";
    font-weight: 400;
    line-height: 130%;
    margin-top: 15px;
}

/* MAIN */

.main {
    background-color: #111111;
}
/* ABOUT */

.about--text {
    max-width: 856px;
    height: 251px;
    text-align: center;
    padding: 40px 20px;
    margin: 0 auto; 
    line-height: 1.6;
    font-family: "Cormorant Garamond";  
    font-weight: 700;
    line-height: 130%;
}

/* ABOUT IMAGES */

.about--images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(416px, 1fr))
}

.about--image {
    padding: 1rem;
}

.about--image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.about--image h1 {
    font-family: "Cormorant Garamond";
    font-size: 30px;
    font-weight: 400;
}

.about--logo {
    display: flex;
    justify-content: center;
}

/* Наши работы */

.our--works h1 {
    font-family: "Cormorant Garamond";
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.our--works--navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 0px;
}

.our--works--navigation a {
    font-family: "Cormorant Garamond";
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}

/* FOOTER-DOWN*/

.footer {
    background-color: #111111;
}

.footer--down {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
}

.footer--contact {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 25px;
}

.footer--operating--mode {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.footer--instagram {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.footer--instagram img {
    width: 36px;
    height: 36px;
}